# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil object
stm32f103/MDK-ARM/CAN_Festival
stm32f103/MDK-ARM/DebugConfig
stm32f103/MDK-ARM/RTE
stm32f103/MDK-ARM/CAN_Festival.uvguix.16690
stm32f407/MDK-ARM/CAN_Festival
stm32f407/MDK-ARM/DebugConfig
stm32f407/MDK-ARM/RTE
stm32f407/MDK-ARM/CAN_Festival.uvguix.16690
stm32f767/MDK-ARM/CAN_Festival
stm32f767/MDK-ARM/DebugConfig
stm32f767/MDK-ARM/RTE
stm32f767/MDK-ARM/CAN_Festival.uvguix.16690
*.uvoptx

# vscode
.vscode